// This file is included in the build if src/main.js imports it.
// Otherwise the default Material CSS file is bundled.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the app.variables.styl file
@import 'app.variables'

// Quasar Material Design Stylus
// --------------------------------------------------
// Custom App variables must be declared before importing Quasar.
// Quasar will use its default values when a custom variable isn't provided.
@import '~quasar-framework/dist/quasar.mat.styl'

// body
//     position fixed
//     overflow hidden

// .fakebody
//     width 100%
//     height 100%
//     position absolute
//     top 0
//     z-index 2
//     margin 0
//     padding 0
//     overflow-y auto

.layout-aside.fixed
    z-index 10000